/* Variables */
$primary-color: #1976d2;  
$primary-color-dark: #1565c0; 


.create-article {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100vw; 
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background-color: white;
  padding: 20px;
  border:none !important;
  box-shadow:none !important;
  width: 100vw;
 
}
mat-card-content{
    width: 50vw;
}
mat-card-header {
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  display: block;
  margin-bottom: 20px; 
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: purple;
  }

}


input:focus, textarea:focus {
  outline: none;
  
}

button {
  width: 100%;
  padding: 10px;
  
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:disabled {
  background-color: #b0bec5; 
}

button:hover {
  background-color: $primary-color-dark; 
}


.error {
  color: red;
  display: block;
  text-align: center;
  margin-top: 10px;
}
@media (max-width:480px){
  mat-card-content{
    width: 80vw;
  }
}