mat-card{
    border: none;
    box-shadow: none;
}
.article-container{
    width: 80%;
    margin: auto;
}
.comment-separator {
    margin: 40px 0 20px;
    border: none;
    height: 1px;
    background-color: #ccc;
    width: 80%;
    margin: auto;
  }
  
  .comments-section {
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    margin: auto;
  }
  
  .comment {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .comment-username {
    margin-right: 8px;
    
  }
  
  .comment-text {
    flex: 1;
    background-color:#f5f5f5;
    border-radius:5px;
    padding: 20px;
    margin-left:20px;
  }
  
  .comment-input {
    width: 100%;
    margin: 16px 0;
  }
  