.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.home-container{
  width: 90%;
display: flex;
flex-direction: column;
margin: auto;

  .buttons-container{
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: space-between;
margin-bottom: 50px;
  }

  .posts-container{
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 40px;
grid-row-gap: 40px;

mat-card{
  background-color: grey;
display: flex;
flex-direction: column;

.subtitles{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}
}
  }
}
