
<div *ngIf="$isLogged() | async; else notLogged">
 <app-header></app-header>
  <div class="home-container">
    <div class="buttons-container">
      <button mat-raised-button color="primary"> Créer un article</button>
      <button mat-raised-button color="basic">Trier par</button>
    </div>
   <div class="posts-container">
    <mat-card>
      <mat-card-header fxLayoutAlign="column">
        <mat-card-title>Titre de l'article</mat-card-title>
        
    </mat-card-header>
    <div class="subtitles">
      <mat-card-subtitle>Date:</mat-card-subtitle>
      <mat-card-subtitle>Auteur:</mat-card-subtitle>
    </div>     
    <mat-card-content>texte texte texte texte
    </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Titre de l'article</mat-card-title>
           
    </mat-card-header>
    <div class="subtitles">
      <mat-card-subtitle>Date:</mat-card-subtitle>
      <mat-card-subtitle>Auteur:</mat-card-subtitle>
    </div>  
    <mat-card-content>texte texte texte texte
    </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Titre de l'article</mat-card-title>
         
    </mat-card-header>
    <div class="subtitles">
      <mat-card-subtitle>Date:</mat-card-subtitle>
      <mat-card-subtitle>Auteur:</mat-card-subtitle>
    </div>    
    <mat-card-content>texte texte texte texte
    </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Titre de l'article</mat-card-title>
          
    </mat-card-header>
    <div class="subtitles">
      <mat-card-subtitle>Date:</mat-card-subtitle>
      <mat-card-subtitle>Auteur:</mat-card-subtitle>
    </div>  
    <mat-card-content>texte texte texte texte
    </mat-card-content>
    </mat-card>
   </div>
  </div>
</div>
<ng-template #notLogged>
  <app-welcome></app-welcome>
</ng-template>
