<div *ngIf="$isLogged() | async; else notLogged">
  <app-header></app-header>
  <div class="home-container">
    <div class="buttons-container">
      <button mat-raised-button color="primary" (click)="createArticle()">
        Créer un article
      </button>
      <button mat-raised-button color="basic" (click)="toggleSortOrder()">Trier par</button>
    </div>
    <div class="posts-container">
      <mat-card *ngFor="let article of sortedArticles" class="article-card" (click)="openArticle(article.id)">
        <mat-card-header>
          <mat-card-title>{{ article.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-subtitle>
          <p>Date : {{ article.createdAt | dateFormat }}</p>

          <p>Créé par : {{ article.authorName }}</p>

          <p>Thème : {{ article.themeName }}</p>
        </mat-card-subtitle>
        <mat-card-content>
          <p>{{ article.content }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #notLogged>
  <app-welcome></app-welcome>
</ng-template>
