.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    border: 1px solid black;
    img{
      width:180px;
    }
    .burger-menu {
      display: none;
      background: none;
      border: none;
      font-size: 30px;
      cursor: pointer;
    }
    .header-buttons{
      display: flex;
      flex-direction: row;
      align-items: center;
        .user-button {
          background-image: url("../../../assets/icon-user.png");
          height: 40px;
          width: 40px;
          background-position: center;
          color: grey;
          background-repeat: no-repeat;
          border-radius: 20px;
          border: none;
          margin-left:30px;
          cursor: pointer;

        }
        .img{
          cursor: pointer;
        }
        .theme-button, .articles-button, .logout-button{
          background-color: white;
          border: none;
          margin-left:30px;
          cursor: pointer;
          font-size: medium;

        } 
        .logout-button{
          color: #8B0000;
          font-size: medium;
        }
        .articles-button {
          color: black; 
          &.active {
            color: #7450EB; 
            font-weight: bold;
          }
        }
    }

    @media (max-width:480px){
      .burger-menu {
        display: block;
      }
      .header-buttons {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10px;
        height:80vh;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 10;
  
        &.show {
          display: flex;
        }
  
        button {
          width: 100%;
          margin: 5px 0;
        }
      }
    }
  }